body{
    font-family:Roboto, sans-serif;
}
.navbar{
    background-color: #e15f41;
}
#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover,
.navCardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler {
    background-color:#ffeae6 ;
}

.section-title{
    font-family:Pacifico,cursive ;
}

.section-title span{
    color: #e15f41;
}

#sobreRestaurante, #cardapio{
    background-color:#ffeae6;
}

.textColored{
    color: #e15f41;
}

.navCardapio .nav-link.active,
#faleConosco button{
    background-color: #e15f41;
    color: #fff;
}

.navCardapio .nav-link:hover{
    color: #e15f41;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

form textarea{
    resize: none;
    height: 100px;
}

 @media (max-width: 767px) { /* apos isso é uma visão do tablet */
    .carousel-item img{
        height: 280px;
    }
}